streamlit==1.32.0
gspread==5.12.0
pandas==2.2.0
openai==1.13.3

google-api-python-client==2.118.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0

authlib==1.2.1
python-dotenv==1.0.1

# 👉 streamlit-oauth GitHub에서 직접 설치
git+https://github.com/jrieke/streamlit-oauth.git
